/* Write your CSS here! */
/* Need to use Margin & Padding to style elements visually pleasing manner*/

body {
    max-width: 1280px;
    display: block;
    margin: 8px, 8px, 8px, 8px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #e6e6e6;
    letter-spacing: .2em;
    
}
header,
main,
footer {
    background-color: white;
}

header {
    padding: 15px;
}
main {
    padding-top: 12px;
}
h1 {
    font-size: 60px;
    text-align: center;
    background-color: white;
}
h2 {
    padding-top: 200px;
    padding-bottom: 100px;
}
#italy {
    text-align: right;
}
  
#mainHeading {
    color: red;
}

.funParagraph {
    color: green;
}
#costaRica {
    padding-top: 320px;
}
#italyPic,
#costaRicaPic {
    float: right;
    padding-bottom: 200px;
}
#costaRicaPic {
    padding-top: 180px;
}
#scotlandPic {
    float: left;
    padding-top: 180px;
    padding-bottom: 200px;
}
footer {

    padding-top: 400px;
    font-size:smaller;
    
}
/* Need to use one of each selectors: element, class, id
ELEMENT - to give the BODY element a margin value of 8px and a display type of block

Give a heading on page the id of mainHeading and use the id selector in styles.css to 
give it a color value of red.

Give paragraph on page the id of testP and a class name of funParagraph. Use class selector
in styles.css to give it a color value of green.

Make sure to link the stylesheet to your main document to see any visible change! */

